:root{
    --font-size-nav: 2rem;
    --font-size-h2: 6rem;
    --font-size-p: 1.2rem;
    --box-width:56%;
    --shift-box-position: 8%;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: rgba(59, 37, 59, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: 4rem;
}

a:link,
a:visited,
a:hover,
a:active {
  font-family: "Spirax", sans-serif;
  font-size: var(--font-size-nav);
  color: white;
  text-decoration: none;
  /*cursor: pointer;*/
}

.pageOne,
.pageTwo,
.pageThree {
  height: 100vh;
  border-bottom: 1rem solid darkred;
  box-sizing: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pageOne {
  background-image: url("../images/hot.jpg");
  background-size: 125% 110%;
}

.pageTwo {
  background-image: url("../images/juicy.jpg");
  background-size: 110% 100%;
}

.pageThree {
  background-image: url("../images/cosy.jpg");
  background-size: 108% 100%;
}

section:last-child {
border-bottom: none;
}

h2 {
  font-family: "Spirax", sans-serif;
  font-size: var(--font-size-h2);
  color: darkred;
}

p {
  font-family: "Poiret One", sans-serif;
  font-size: var(--font-size-p);
  color: rgba(255, 255, 255, 0.6);
}

.box {
  width: var(--box-width);
  padding: 1rem;
}

section > p {
  background-color: rgb(139, 0, 0, 0.8);
  text-align: center;
}

p.box {
position: relative;
right: var(--shift-box-position);
}

p.hide {
left: var(--shift-box-position);
}

.info {
  background-color: rgb(1, 1, 1, 0.7);
}

.infoItem {
  display: flex;
  justify-content: space-between;
}


