:root{
    --font-size-nav: 2.5rem;
    --font-size-h1: 6rem;
    --font-size-h2: 1.5rem;
}

* {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: rgba(84, 52, 82, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  font-family: "Spirax", sans-serif;
  font-size: var(--font-size-nav);
  display: flex;
  gap: 3rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 100vw;
  height: 100vh;
}

.pageOne,
.pageTwo,
.pageThree {
  background-color: rgba(139, 0, 0, 0.5);
  width: 100%;
  height: 110%;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pageOne {
  background-image: url("../images/hot.jpg");
  background-size: 125% 100%;
}

.pageTwo {
  background-image: url("../images/juicy.jpg");
  background-size: 110% 100%;
}

.pageThree {
  background-image: url("../images/cosy.jpg");
  background-size: 108% 100%;
}

h1 {
  font-family: "Spirax", sans-serif;
  font-size: var(--font-size-h1);
  color: darkred;
}

h2 {
  font-family: "Poiret One", sans-serif;
  font-size: var(--font-size-h2);
  color: rgba(255, 255, 255, 0.6);
}

.box {
  width: 55%;
  /*width: 700px*/
  padding: 10px 20px;
}

section > h2 {
  background-color: rgb(139, 0, 0, 0.6);
  text-align: center;
}

h2.box {
position: relative;
right: 8%
}

h2.hide {
left: 8%
}

.info {
  background-color: rgb(1, 1, 1, 0.8);
}

.infoItem {
  display: flex;
  justify-content: space-between;
}


