@media screen and (max-width: 425px) {

    :root{
    --font-size-nav: 1.5rem;
    --font-size-h1: 3rem;
    --font-size-h2: 1rem;
}
  .pageOne,
  .pageTwo,
  .pageThree {
    background-position: top center;
    background-size: cover;
    height: 100%;
    gap: 7vw;
  }

  .box {
    width: 75%;
  }
  
  h2.box {
    position: static;
  }

  .hide {
    display: none;
  }

  .info {
  padding: 2vh;
}
}

