* {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: rgba(84, 52, 82, 0.6);
}

nav {
  font-family: "Spirax", sans-serif;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 100vw;
  height: 100vh;
}

.pageOne,
.pageTwo,
.pageThree {
  background-color: rgba(139, 0, 0, 0.5);
  width: 100%;
  height: 115%;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pageOne {
  background-image: url("assets/hot.jpg");
  background-size: 125% 100%;
}

.pageTwo {
  background-image: url("assets/juicy.jpg");
  background-size: 110% 100%;
}

.pageThree {
  background-image: url("assets/cosy.jpg");
  background-size: 108% 100%;
}

h1 {
  font-family: "Spirax", sans-serif;
  font-size: 6rem;
  color: darkred;
}

h2 {
  font-family: "Poiret One", sans-serif;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.box {
  width: 50%;
  /*width: 700px*/
  padding: 20px 40px;
}

section > h2 {
  background-color: rgb(139, 0, 0, 0.6);
  text-align: center;
}

h2.box {
  align-self: flex-start;
  margin-left: 15%;
}

h2.hide {
  align-self: flex-end;
  margin-right: 15%;
}

.info {
  background-color: rgb(1, 1, 1, 0.8);
}

.infoItem {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  nav {
    justify-content: space-center;
    font-size: 2rem;
    gap: 1rem;
  }

  .pageOne,
  .pageTwo,
  .pageThree {
    background-position: center;

    background-size: cover;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .box {
    width: 65%;
    padding: 10px 15px;
  }

  h2.box {
    align-self: center;
    margin-left: 0px;
  }

  .hide {
    display: none;
  }

}
